<!doctype>

<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="outerContainer">
      <div class="header">
        <% include ../partials/header %>
      </div>
      <div class="contentMain">
        <div class="aboutWrapper">
          <% gamerBios.forEach(function(bio) { %>
            <div class="aboutGamer">
              <img src="<%= bio.image %>">
              <span><%= bio.name %></span>
              <p><%= bio.bio %></p>
              <div class="aboutGamerSocial">
                <a href="<%= bio.twitter %>">Twitter</a>
                <a href="<%= bio.youtube %>">YouTube</a>
                <a href="<%= bio.twitch %>">Twitch</a>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="footer">
        <% include ../partials/footer  %>
      </div>
    </div>
  </body>
</html>
